
    <article class="sample-column">
   <p>igx-list component. You can read more about configuring the igx-list component <a href="https://github.com/IgniteUI/igniteui-js-blocks/blob/master/src/list/README.md" target="_blank">here</a>.</p>
     <div class="igx-form-group">
        <input class="igx-form-group__input--search" placeholder="Search Employees" />
        <label>
        </label>
        <span class="igx-form-group__clear--hidden">
        </span>
    </div>
    <div class="list-sample">
         <!-- <igx-list>
            <igx-list-item [isHeader]="true">Contacts</igx-list-item>
            <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item" *ngFor="let contact of contacts">
                <div class="item">
                    <igx-avatar [src]="contact.avatar" roundShape="true"></igx-avatar>
                    <span igxLabel>{{contact.text}}</span>
                    <igx-icon name="star" [class.favorite]="contact.favorite"></igx-icon>
                </div>
            </igx-list-item>
        </igx-list>   -->
    </div> 
    </article>